.button-toggle {
  border: 1px solid #fff;
  padding: 10px 16px;
  outline: none;
  color: #fff;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: filter 500ms;
}
.button-toggle:hover {
  filter: brightness(0.8);
}
.button-action {
  border: none;
  background-color: #ff73b3;
  padding: 10px 15px;
  outline: none;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 0 20px 3px #ff73b3;
  cursor: pointer;
  transition: filter 500ms;
}
.button-action:hover {
  filter: brightness(1.1);
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: url(https://picsum.photos/1920/1080);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container__option-viewport {
  background-color: #fff;
  width: 50vw;
  height: 100vh;
  display: flex;
  position: absolute;
  /* 100% - 300px - 5% y 5% */
  overflow: hidden;
}

.main-container__option-form {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container__option-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: #fff;
  font-weight: 500;
}
