.profile-page {
  margin-bottom: 200px;
}
.profile-page .info-wrapper h2 {
  font-family: serif;
  font-size: 25px;
}
.profile-page .info-wrapper label {
  color: rgba(0, 0, 0, 0.781);
  font-family: serif;
}
.profile-page .info-wrapper p {
  font-weight: 1000;
  font-size: 20px;
  font-family: serif;
}
